
body{
width:100%;  
height:100%;   
padding:0px;
margin-left: 3px !important;}







/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */



  

  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }


  







        marquee {
          position:fixed;
            white-space: nowrap;
            width: 300vw;
            height:auto;
            color: rgb(255, 0, 221);
            overflow:visible;
   z-index:-10;
        }


button{z-index:1000; }



        

body {width:100%;}
@media only screen and (max-width: 600px) {
  body {
    background-color: red; 
  }


  
}
@media only screen and (min-width:601px) and (max-width: 900px) {
  body {
    background-color: orange; 
  }

}



@media only screen and (min-width:901px) and (max-width: 1200px) {
  body {
    background-color: yellow; }
  }
 

@media only screen and (min-width:1201px) and (max-width:1800px){
  body {
    background-color: white; }

    #buttontest{margin:10px;top:0px;left:100px;}
    #buttonhome{margin:10px;top:0px;}


    .caret {position:absolute;display:inline-block;}
    .WHOLE {position:relative;width:450px;left: 50px;
      top: -36px;display:inline-block;}
  



    .maintext{position:absolute;width:450px;

    font-family: clarendon-urw, serif;
    font-style: normal;
    letter-spacing:0pt;
  line-height: 14px;
    font-size:10pt;
    text-align:right;
    color:black;
    border:2px solid red;
    text-align:left;
    padding:0;
    margin:0;
    font-weight:300;}
    
            .op{top:calc(50vh + -130px);
                          left:calc(50vw + -225px);}

            .reply1 {    top: calc(30px + 0vh);
              left: calc(0px + 0vw);}
                .reply1r1{top:calc(0px + 0vh);left: calc(-30px + 60vw);}
                    .reply1r1r1{top:calc(30px + 10vh);left: calc(-30px + 40vw);}
                 .reply1r2{top:calc(-30px + 80vh);left: calc(50px + 0vw);}
                 .reply1r3{top:calc(-30px + 60vh);left: calc(50px + 50vw);}
            .reply2 {    top: calc(30px + 30vh);
                left: calc(-40px + 10vw);}

                .reply2r1{       top: calc(30px + -15vh);
                  left: calc(-70px + 0vw);}

                    .reply2r1r1{    top: calc(-30px + 60vh);
                      left: calc(-0px + 55vw);}
                
                    .reply1r2{    top: calc(-30px + 60vh);
                      left: calc(50px + 0vw);}
                    .reply2r2{      top: calc(-30px + -40vh);
                      left: calc(50px + 0vw);}
.USER{position:relative;
    font-family: clarendon-urw, serif;
    font-style: normal;
    font-weight: 100;
    letter-spacing:0pt;
    font-size:10pt;
    color:black;
    text-align:right;
    bottom:0;
    right:-30px;}
            

.LINK{position:relative;font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing:2.5pt;
    font-size:12pt;
      top:-0px;
    width:500px;}




.WD {position:absolute;
  font-family: kazimir, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size:14pt;color:rgb(0, 255, 42);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;}
  

  
}

@media only screen and (min-width:1801px) {
  body {display: inline-block;width:auto;
    background-color: none; transform:scale(1.3);}

    .caret {position:absolute;display:inline-block;}
    .WHOLE {position:relative;width:450px;left: 50px;
      top: -36px;display:inline-block;}
  



    .maintext{position:absolute;width:450px;

    font-family: clarendon-urw, serif;
    font-style: normal;
    letter-spacing:0pt;
  line-height: 14px;
    font-size:10pt;
    text-align:right;
    color:black;
    border:2px solid red;
    text-align:left;
    padding:0;
    margin:0;
    font-weight:300;}
    
            .op{top:calc(50vh + -130px);
                          left:calc(50vw + -225px);}

            .reply1 {        top: calc(130px + 0vh);
              left: calc(230px + 0vw);
          }
                .reply1r1{    top: calc(130px + 0vh);
                  left: calc(-30px + 60vw);
              }
                    .reply1r1r1{   top: calc(30px + 31vh);
                      left: calc(-30px + 15vw);}
                 .reply1r2{       top: calc(-30px + 60vh);
                  left: calc(280px + 0vw);
              
              }
                 .reply1r3{top:calc(-30px + 80vh);left: calc(50px + 60vw);}
            .reply2 {top: calc(30px + 30vh);
                left: calc(-40px + 30vw);}

                .reply2r1{      top: calc(60px + -25vh);
                  left: calc(430px + 30vw);
              }

                    .reply2r1r1{      top: calc(120px + 55vh);
                      left: calc(0px + 55vw);}
                
                    .reply1r2{    top: calc(-30px + 60vh);
                      left: calc(50px + 0vw);}
                    .reply2r2{      top: calc(100px + -42vh);
                      left: calc(120px + 0vw);}
.USER{position:relative;
    font-family: clarendon-urw, serif;
    font-style: normal;
    font-weight: 100;
    letter-spacing:0pt;
    font-size:10pt;
    color:black;
    text-align:right;
    bottom:0;
    right:-30px;}
            

.LINK{position:relative;font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing:2.5pt;
    font-size:12pt;
      top:-0px;
    width:500px;}




.WD {position:absolute;
  font-family: kazimir, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size:14pt;color:rgb(0, 255, 42);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;}
  
#buttontest{    top: 50px;
  left: 280px;}
#buttonhome{    top: 50px;
  left: 440px;

}




