
body{
width:100%;  
height:100%;   
padding:0px;

}







/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */



  

  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }


  







        marquee {
          position:fixed;
            white-space: nowrap;
            width: 100vw;
            height:auto;
            color: rgb(255, 0, 221);
            overflow:visible;
   z-index:-10;
        }






        

body {width:100%;}
@media only screen and (max-width: 600px) {
  body {
    background-color: red; 
  }


  
}
@media only screen and (min-width:601px) and (max-width: 900px) {
  body {
    background-color: orange; 
  }

}



@media only screen and (min-width:901px) and (max-width: 1200px) {
  body {
    background-color: yellow; }
  }
 

@media only screen and (min-width:1201px) and (max-width:1800px){
  body {
    background-color: white; }



    .caret {position:absolute;top:0;left:0;}
    .WHOLE {position:relative;width:450px;}
  



    .maintext{position:relative;width:450px;

    font-family: clarendon-urw, serif;
    font-style: normal;
    letter-spacing:0pt;
  line-height: 14px;
    font-size:10pt;
    text-align:right;
    color:black;
    border:2px solid red;
    text-align:left;
    padding:0;
    margin:0;}
    
            .op{top:50vh;
                          left:50vw; font-weight:600;}

.USER{position:relative;
    font-family: clarendon-urw, serif;
    font-style: normal;
    font-weight: 100;
    letter-spacing:0pt;
    font-size:10pt;
    color:black;
    text-align:right;
    bottom:0;
    right:-30px;}
            

.LINK{position:relative;font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing:2.5pt;
    font-size:12pt;
      top:-0px;
    width:500px;}




.WD {position:absolute;
  font-family: kazimir, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size:14pt;color:rgb(0, 255, 42);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;}
  

  
}

@media only screen and (min-width:1801px) {
  body {
    background-color: blue; }
  }


